@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  width: 100%;

  --k-red: #a30101;
  --k-darkred: #4d0c0c;
  --k-lightred: #dd0207;
  --k-petal: #e94f33;
  --k-lightpetal: #f0907f;
  --k-yellow: #e6b95e;
  --k-beige: #e5c4a1;
  --k-green: #0f6f4c;
  --k-darkgreen: #29322f;
  --k-lightgreen: #a0a271;
  --k-mediumgreen: #424031;
  --k-black: #281b13;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background-color: var(--k-green);
}

button, [type="submit"], [type="button"] {
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--k-yellow);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  background-color: var(--k-petal);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

@keyframes colorChange {
  0%, 100% {
    background-color: var(--k-yellow); /* Start and end color */
  }
  50% {
    background-color: var(--k-red); /* 2nd rhythmic change */
  }
}

.game-entry {
  width: calc(100% - 1em);
  cursor: pointer;
  color: white;
  background-color: var(--k-red);
  padding: 0.5em;
  border-radius: 0.25em;
}

.game-entry.is-turn {
  animation: colorChange 3s infinite;
}

.game-entry.is-turn:hover {
  animation: none;
}

.game-entry.selected {
  background-color: var(--k-petal);
}

.game-entry.is-ended {
  background-color: lightgray;
  color: gray;
}

.game-entry:hover {
  background-color: var(--k-petal);
}
